name:  Java CI with Gradle and PostgreSQL

on:
  push:
    branches: [ "main", "feature/PP-66-Automated-CI-Pipeline" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest

    services:
      PostgreSQL:
        image: postgres:latest
        env:
          POSTGRES_DB: proxy-portfolio
          POSTGRES_USER: proxy-portfolio
          POSTGRES_PASSWORD: proxyuser123
        ports:
          - 5432:5432

        options: >-
          --health-cmd pg_isready
          --health-interval 10s
          --health-timeout 5s
          --health-retries 5

    steps:
      - uses: actions/checkout@v4

      - name: Set up JDK 21
        uses: actions/setup-java@v4
        with:
          java-version: '21'
          distribution: 'temurin'

      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@v3

      - name: Build with Gradle
        run: ./gradlew build
        working-directory: ./pp
     
